@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');
/* importa apenas a fonte https://fonts.google.com/specimen/Comfortaa, sem CSS */

:root {
    --bg-escuro: #002b36;
    --bg-escuro-t: #002d3894;
    --bg-claro-t: #ffffffaf;
    --bg-claro: #264d4e;
    --fg-escuro: rgb(255, 255, 255);
    --fg-claro: #b9fff6;
    --fg-dest: #ff3725;
}

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 70vw;
    margin: 0 auto;
    font-family: 'Comfortaa', cursive;
    background-image: url("../images/pexels-david-dibert-774664.jpg");
    background-position: center;
    background-size: cover;
    backdrop-filter: blur(12px);
}

.section_lista,
.section_simples {
    margin: 0 2em;
}

.section_lista>div,
.section_simples>div {
    padding: 2em;
}

.section_simples {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    justify-items: center;
    background-color: var(--bg-claro-t);
}

.section_lista {
    color: white;
    background-color: var(--bg-escuro-t);
}

.lista_catalogo {
    padding: 0 !important;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.section_lista_card {
    color: black;
    background-color: white;
    margin: 1em;
    padding: 2em;
    width: 25vw;
    height: fit-content;
}

img {
    width: 100%;
}

a {
    color: white;
    text-decoration: underline;
}

#nav_container {
    position: sticky;
    top: 0;
    background-color: var(--bg-escuro);
    z-index: 1;
}

#header_principal {
    color: white;
    text-align: center;
    font-weight: bold;
}

#header_principal h1 {
    padding: 0.4em 0;
}

#nav_menu {
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.nav_btn {
    display: grid;
    align-items: center;
    padding: 0.6em 2em;
    margin: 0 2em;
}

.nav_btn:hover {
    background-color: var(--fg-escuro);
    font-weight: bold;
}

.nav_btn:hover a {
    color: black;
}

footer {
    color: white;
    background-color: var(--bg-escuro);
    position: relative;
    bottom: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    padding: 0.4em 0;
}