@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");
@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');
/* importa apenas a fonte https://fonts.google.com/specimen/Comfortaa, sem CSS */

:root {
    --bg-escuro: #003046;
    --bg-escuro-t: #1f2e318a;
    --bg-claro-t: #ffffffaf;
    --bg-claro: #3b6061;
    --fg-escuro: #dbe5ec;
    --fg-claro: #ffffff;
}

._row {
    justify-content: space-between;
}

#titulo_h1 {
    transform: translateX(-100%);
}

* {
    margin: 0;
    box-sizing: border-box;
}

#cont_principal {
    font-family: 'Comfortaa', cursive;
    background-image: url("../images/pexels-david-dibert-774664.jpg");
    background-position: center;
    background-repeat: no-repeat;
    backdrop-filter: blur(8px);
}

table {
    text-align: center;
    padding: 2em;
    width: 100%;
}

.table_cont {
    overflow: auto;
}

table,
td,
th {
    border: 2px solid var(--bg-escuro);
    border-collapse: collapse;
}

th,
td {
    padding: 1em;
}

p {
    margin: 0.6em 0;
}

.bg-escuro-t {
    color: white;
    background-color: var(--bg-escuro-t);
}

.bg-claro-t {
    background-color: var(--bg-claro-t);
}

.section_simples {
    background-color: var(--bg-claro-t);
}

.lista_catalogo {
    padding: 0 !important;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.lista_galeria {
    max-width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    flex-wrap: wrap;
    column-gap: 1em;
}

.lista_galeria img {
    width: 30%;
    padding: 1em;
    margin-bottom: 1em;
    background-color: white;
}

.section_lista_card {
    color: black;
    background-color: white;
    width: 25vw;
    height: fit-content;
}

img,
iframe {
    width: 100%;
}

iframe {
    height: 50vh;
}

a {
    color: white;
    text-decoration: underline;
}

#nav_container {
    position: sticky;
    top: 0;
    background-color: var(--bg-escuro);
    z-index: 1;
}

#header_principal {
    color: white;
    text-align: center;
    font-weight: bold;
}

#header_principal h1 {
    padding: 0.4em 0;
}

#nav_menu {
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

li>i {
    margin: 0 1em 0 0;
}

.nav_btn {
    min-width: 3em;
    color: white;
    padding: 0.6em 2em;
    margin: 0 2em;
}

.nav_btn:hover {
    background-color: var(--fg-escuro);
    font-weight: bold;
}

.nav_btn:hover a {
    color: black;
}

.ativo {
    background-color: var(--bg-claro);
}

#info_gelo {
    padding: 1em;
    color: white;
    font-weight: bold;
    background-color: var(--bg-escuro-t);
}

input {
    margin: 0.4em;
}

button {
    font-family: 'Comfortaa', cursive;
    font-weight: bold;
    border: none;
    margin: 1em;
    padding: 1em 2em;
    background-color: var(--fg-escuro);
}

fieldset {
    margin-bottom: 0.8em;
}

fieldset:disabled {
    color: rgba(211, 211, 211, 0.33);
}

.info_gelo_btn {
    width: fit-content;
    margin: 0 auto;
}

footer {
    color: white;
    background-color: var(--bg-escuro);
    position: relative;
    bottom: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    padding: 0.4em 0;
}

.aviso {
    font-weight: bold;
    font-size: 0.8em;
    color: rgb(216, 0, 0);
    padding: 0.2em;
    background-color: var(--bg-claro-t);
    margin-left: 1em;
}

.erro {
    border-color: red;
}

#confirma_cont {
    position: absolute;
    border: 1px solid white;
    box-shadow: 5px 8px 8px var(--bg-escuro-t);
    z-index: 1;
    color: white;
    background-color: var(--bg-escuro);
    width: 80%;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
    padding: 2em;
}

#confirma_cont p {
    margin: 1em;
}